/* .sidebar-nav a:hover,
.sidebar-nav a:focus {
  text-decoration: none;
  font-weight: bolder;
}

.sidebar-about h1:hover,
.sidebar-about h1:focus {
  text-decoration: none;
  font-weight: bolder;
} */
